<section class="hero has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container" style="padding: 60px 0;">            
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            <div class="column is-full is-size-3" style="margin-top: 30px;">
                <a href="mailto:chow.zo@northeastern.edu" target="_blank" style="color: var(--accent-color); margin: 0 20px;">
                    ✉️ EMAIL
                </a>
                <a href="http://www.linkedin.com/in/zoe-chow-" target="_blank" style="color: var(--accent-color); margin: 0 20px;">
                    💼 LINKEDIN
                </a>
                <a href="http://www.github.com/zoechow24" target="_blank" style="color: var(--accent-color); margin: 0 20px;">
                    🔗 GITHUB
                </a>
            </div>
        </div>
    </div>
</section>
