<div class="has-text-centered is-paddingless is-marginless" id="project-card">
  <div class="has-background-black card" style="transition: all 0.3s ease;">
    <div class="card-content">
      <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
      <p class="has-text-white has-text-weight-light content">{{ project.description | truncate: 80}}</p>
      
      {% if project.is_private and project.language == 'python' %}
        <p class="has-text-warning is-size-7 has-text-weight-medium">
          <span class="icon is-small">
            <i class="fas fa-lock"></i>
          </span>
          Private Repository - Permission Required
        </p>
      {% endif %}
      
      <div class="buttons is-centered" style="margin-top: 1rem;">
        {% if project.github_url %}
          <a href="{{ project.github_url }}" target="_blank" class="button is-dark is-small is-flex is-align-items-center is-justify-content-center">
  <span class="icon is-small">
            <span class="icon is-small">
              <i class="fab fa-github"></i>
            </span>
            <span>{% if project.is_private %}Request Access{% else %}GitHub{% endif %}</span>
          </a>
        {% endif %}
        
        {% if project.demo_url and project.is_private != true %}
          <a href="{{ project.demo_url }}" target="_blank" class="button is-dark is-small is-flex is-align-items-center is-justify-content-center">
  <span class="icon is-small">
            <span class="icon is-small">
              <i class="fas fa-external-link-alt"></i>
            </span>
            <span>Live Demo</span>
          </a>
        {% endif %}
        

      </div>
    </div>
  </div>
</div>


