<section class="hero is-fullheight has-text-centered" id="projects">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-2 has-text-black" style="margin-bottom: 40px;">Projects</h2>
            
            <!-- Python Projects Section -->
            <div style="margin-bottom: 60px;">
                <h3 class="title is-3 has-text-black" style="margin-bottom: 120px;">Python</h3>
                <div class="columns is-multiline is-centered" style="padding-top: 60px;">
                    {% for project in site.data.projects %}
                        {% if project.category == "Python" %}
                        <div class="column is-one-third">
                            {% include project-card.html %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <!-- R Projects Section -->
            <div style="margin-bottom: 60px;">
                <h3 class="title is-3 has-text-black" style="margin-bottom: 120px;">R</h3>
                <div class="columns is-multiline is-centered" style="padding-top: 60px;">
                    {% for project in site.data.projects %}
                        {% if project.category == "R" %}
                        <div class="column is-one-third">
                            {% include project-card.html %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
