<div class="has-text-centered is-paddingless is-marginless" id="project-card">
  <a href="{{project.link}}" target="_blank">
    <div class="has-background-black card" style="transition: all 0.3s ease;">
      <figure class="image is-3by1" style="background-image: url({{project.image}});">
      </figure>
      <div class="card-content">
        <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
        <p class="has-text-white has-text-weight-light content">{{ project.description | truncate: 80}}</p>
      </div>
    </div>
  </a>
</div>
